*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  font-family: var(--font-body);
  color: var(--color-dark);
  background-color: var(--color-light);

  scroll-behavior: smooth;

  --font-header: 'Chivo', sans-serif, serif;
  --font-body: 'Fira Sans', sans-serif, serif;

  --fs-2xl: 5rem;
  --fs-xl: 2.75rem;
  --fs-lg: 1.75rem;
  --fs-lg-mob: 1.5rem;
  --fs-md: 1rem;
  --fs-md-mob: 0.875rem;
  --fs-sm: 0.875rem;

  --color-dark: #111413;
  --color-light: #f2f4f3;
  --color-primary: #6bb48f;
  --color-secondary: #a1c6ca;
  --color-dark-greyed: color-mix(in srgb, var(--color-dark), #fff 10%);
  --color-light-greyed: color-mix(in srgb, var(--color-light), #000 10%);
  --color-primary-light: color-mix(in srgb, var(--color-primary), #fff 75%);
  --color-secondary-light: color-mix(in srgb, var(--color-secondary), #fff 75%);

  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-header: 4rem;
  --spacing-footer: 5rem;
  --spacing-wave: 200px;
  --spacing-svg: 10rem;
  --border-radius: 0.4rem;
}

header {
  position: fixed;
  width: 100%;
  min-height: var(--spacing-header);
  box-shadow: 0 -1px 5px var(--color-dark);
  background-color: var(--color-primary);
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-inline: var(--spacing-lg);
}

main {
  display: flex;
  flex-direction: column;
}

main > section {
  padding-inline: var(--spacing-lg);
}

footer {
  min-height: var(--spacing-footer);
  color: var(--color-light);
  background-color: var(--color-dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: var(--spacing-lg);
}

section {
  padding-top: var(--spacing-lg);
  scroll-margin-top: var(--spacing-header);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  font-weight: bold;
}

h1 {
  font-size: var(--fs-2xl);
  width: min-content;
}

h2 {
  font-size: var(--fs-xl);
}

h3 {
  font-size: var(--fs-lg);
}

a:link,
a:visited {
  text-decoration: inherit;
  color: inherit;
}

.button {
  width: max-content;
  border: none;
  border-radius: var(--border-radius);
  font-weight: 500;
  background-color: var(--color-primary);
  transition: all 0.2s ease;
}

.button.md {
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  font-size: var(--fs-sm);
}

.button.lg {
  padding-block: 1rem;
  padding-inline: 3rem;
}

.button:hover {
  cursor: pointer;
}

.button.md:hover {
  box-shadow: 0 0.375rem 1.25rem -0.75rem var(--color-dark);
}

.button.lg:hover {
  box-shadow: 0 0.625rem 2rem -1.25rem var(--color-dark);
}

.container {
  width: 100%;
  max-width: 56rem;
  border-radius: var(--border-radius);
  background-color: var(--color-primary-light);
  padding: var(--spacing-md);
  display: flex;
  gap: var(--spacing-lg);
  justify-content: space-between;
}

.navbar {
  display: flex;
  gap: var(--spacing-md);
}

.navbar > a > li {
  font-weight: 500;
}

.header-spacer {
  height: var(--spacing-header);
  background-color: var(--color-primary-light);
}

.hero-section {
  min-height: 20vh;
  background-color: var(--color-primary-light);
}

.hero-title {
  padding-top: 2rem;
  padding-left: 2rem;
}

.desk-img {
  width: 50%;
  height: var(--spacing-svg);
  background-image: url('./assets/desk.svg');
  background-size: 100% 100%;
  align-self: flex-end;
}

.bg-wave {
  height: var(--spacing-wave);
  background-image: url('./assets/bg-wave.svg');
  background-size: 100% 100%;
  z-index: -1;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-md);
  container-type: inline-size;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.project-info > p {
  color: var(--color-dark-greyed);
}

.project-links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-md);
  align-items: end;
}

.project-links > a.button:nth-child(1) {
  background-color: var(--color-primary);
}

.project-links > a.button:nth-child(2) {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.img-placeholder {
  width: 300px;
  height: 194px;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
}

.project-img {
  min-width: 300px;
  height: 194px;
  border-radius: var(--border-radius);
}

.contact-section {
  margin-top: var(--spacing-lg);
  width: 100%;
  background-color: var(--color-primary-light);
  padding-bottom: var(--spacing-lg);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-md);
}

.coffee-img {
  width: 50%;
  height: var(--spacing-svg);
  background-image: url('./assets/coffee.svg');
  background-size: 100% 100%;
}

@media (max-width: 675px) {
  html {
    --fs-2xl: 3.75rem;
    --fs-xl: 2.25rem;
  }

  header {
    padding-inline: var(--spacing-md);
  }

  .container {
    flex-direction: column-reverse;
    gap: var(--spacing-md);
  }

  .hero-title {
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .bg-wave {
    background-size: 170% 100%;
  }

  .project-img {
    min-width: auto;
    height: auto;
  }

  .img-placeholder {
    width: 100%;
    min-width: auto;
  }

  .coffee-img {
    align-self: flex-end;
  }
}

@media (max-width: 410px) {
  html {
    --fs-2xl: 3.5rem;
  }

  header {
    justify-content: center;
  }

  .navbar {
    gap: var(--spacing-lg);
  }

  .hero-title {
    padding-top: 0;
    padding-left: 0;
    align-self: center;
  }

  .desk-img {
    width: 100%;
    align-self: center;
  }

  .contact-section > .container {
    align-items: center;
  }

  .coffee-img {
    align-self: auto;
    width: var(--spacing-svg);
  }
}

@container (max-width: 350px) {
  h3 {
    font-size: var(--fs-lg-mob);
  }

  .project-info > p {
    font-size: var(--fs-md-mob);
  }
}
